/* styles */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

$topbar-height: 50px;

.topbar {
    width: 100%;
    height: $topbar-height;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    background: white;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);

    > .pagelink {
        display: inline-block;
        position: relative;
        padding: 15px 20px;
        font-size: 1.4em;
        color: blue;
        text-decoration: none;
        transition: all 0.2s ease-in-out;
    }
}

.photostream-container {
	position: relative;
	top: $topbar-height;
    width: 100%;
    column-count: 2;
    column-gap: 0;
    max-width: 1200px;
    margin: 0 auto;
    background: #efefef;

    @media only screen and (min-width: 600px) {
        column-count: 3;
    }

    @media only screen and (min-width: 900px) {
        column-count: 4;
    }

    @media only screen and (min-width: 1200px) {
        column-count: 5;
    }

    .phototile {
        display: inline-block;
        background: white;
        margin: 5px;
        padding: 20px;
        box-shadow: 0 0 2px rgba(0,0,0,0.35);
        opacity: 0;
        transition: opacity 0.2s ease-in-out;

        img {
            width: 100%;
        }

        &.loaded {
            opacity: 1;
        }
    }
}