@import 'variables';

* {
    box-sizing: border-box;
}

body {
    font-family: $fonts-family-main;
    margin: 0;
    user-select: none;
    color: $color-text;
}

.app-main {
    background: linear-gradient(to bottom, rgba(107,57,198,1) 0%, rgba(240,163,185,1) 100%);
}


.topbar {
    position: fixed;
    display: table;
    width: 100%;
    height: $topbar-height;
    left: 0;
    top: 0;
    z-index: 2;
    padding: 0 20px;
    background: #f4f3ff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);

    h1 {
        font-size: 1.5em;
        margin: 0;
        font-weight: 100;

        @media screen and (min-width: 700px) {
            font-size: 2em;
        }
    }

    h1, div {
        display: table-cell;
        width: 50%;
        vertical-align: middle;
    }

    div {
        text-align: right;
        color: $color-favorites;
    }
}
